#color-ul > li {
  font-size: 24px;
  font-weight: bold;
}

#color-ul > li:nth-child(1) {
  color: red;
}

#color-ul > li:nth-child(2) {
  color: rgb(107, 66, 66);
}

#color-ul > li:nth-child(3) {
  color: rgb(50, 100, 150);
}

#color-ul > li:nth-child(4) {
  color: rgba(50, 100, 150, 0.3);
}

#color-ul > li:nth-child(5) {
  color: hsl(360, 100%, 50%);
}

#color-ul > li:nth-child(6) {
  color: hsla(360, 100%, 50%, 0.5);
}

/* text-decoration */
#deco-ul > li:nth-child(1) {
  text-decoration: underline;
}
#deco-ul > li:nth-child(2) {
  text-decoration: line-through;
}
#deco-ul > li:nth-child(3) {
  text-decoration: overline;
}
#deco-ul > li:nth-child(4) > a {
  text-decoration: none;
}

#align-test {
  width: 550px;
  border: 2px solid black;
}
#align-test > p:nth-child(1) {
  text-align: left; /* 기본값 */
}
#align-test > p:nth-child(2) {
  text-align: right;
}
#align-test > p:nth-child(3) {
  text-align: center;
}
#align-test > p:nth-child(4) {
  text-align: justify;
}
#line-test > p:last-child {
  line-height: 30px;
}

#center-test {
  width: 200px;
  height: 200px;
  border: 1px solid #000;

  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
}

#center-test > span {
  line-height: 200px;
}

#letter-test {
  letter-spacing: 20px;
  background-color: black;
}

#shadow-test {
  background-color: black;
  font-weight: bold;
}
#shadow-test > p {
  font-size: 75px;
}
#shadow-test > p:nth-child(1) {
  color: orange;
  text-shadow: 3px 3px white;
  /* 텍스트를 기준으로
  오른쪽으로 3px 아래쪽으로 3px
  이동한 위치에서
  흰색으로 그림자 표현
  */
}
#shadow-test > p:nth-child(2) {
  color: white;
  text-shadow: 5px 5px 5px #bbb;
  /* 
  오른쪽으로 5px, 아래쪽으로 5px
  이동하여, 5px 정도로 흐리게 펴져라
  #bbb가 색상
  */
}
#shadow-test > p:nth-child(3) {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0px 0px 10px magenta;
}
#shadow-test > p:nth-child(4) {
  text-shadow: 0px 0px 4px #ccc, 0px -5px 4px #ff3, 2px -10px 6px #fd3,
    -2px -15px 11px #f80, 2px -20px 18px #f20;
}
