.container {
  display: flex;
  width: 800px;
  height: 500px;
  border: 1px solid #000;
  flex-direction: column;
}
.item {
  border: 1px solid #000;
}
.item_container1 {
  flex: 2;
  background-color: #ffff00;
}
.item_container2 {
  display: flex;
  flex: 4;
}
.item_inner1 {
  flex: 1;
  background-color: #87ceeb;
}
.item_inner2 {
  display: flex;
  flex: 2;
  flex-direction: column;
}
.item_container_inner1 {
  flex: 1;
  display: flex;
}
.item_i1 {
  flex: 2;
  background-color: #7fffd4;
}
.item_i2 {
  flex: 1;
  background-color: #ff4500;
}
.item_container_inner2 {
  flex: 1;
  background-color: #ff00ff;
}
