.container {
  display: flex;
  width: 800px;
  height: 500px;
  border: 1px solid #000;
  flex-direction: column;
}
.item {
  border: 1px solid #000;
}
.itemContainer1 {
  flex: 2;
  background-color: #ffff00;
}
.itemContainer2 {
  display: flex;
  flex: 4;
}
.itemInner1 {
  flex: 1;
  background-color: #87ceeb;
}
.itemInner2 {
  display: flex;
  flex: 2;
  flex-direction: column;
}
.itemContainerInner1 {
  flex: 1;
  display: flex;
}
.itemI1 {
  flex: 2;
  background-color: #7fffd4;
}
.itemI2 {
  flex: 1;
  background-color: #ff4500;
}
.itemContainerInner2 {
  flex: 1;
  background-color: #ff00ff;
}
