.container {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
}
.item {
  border: 1px solid #000;
}
.header {
  display: flex;
  flex: 1;
  display: flex;
}
.h_item:nth-child(1) {
  background-color: #ffff00;
  flex: 1;
}
.h_item:nth-child(2) {
  background-color: #ffff00;
  flex: 2;
}
.h_item:nth-child(3) {
  background-color: #ffff00;
  flex: 2;
}
.content {
  flex: 3;
  display: flex;
}
.c1_inner {
  background-color: #87ceeb;
  flex: 1;
}
.content1 {
  display: flex;
  flex-direction: column;
  flex: 2;
}
.content2 {
  flex: 1;
  background-color: #ffc0cb;
}
.content3 {
  flex: 3;
  display: flex;
  flex-direction: column;
}
.c3_item1 {
  flex: 1;
  background-color: #ffa500;
}
.c3_item2 {
  flex: 1;
  display: flex;
}
.c3_inner1 {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.c3_inner1_item {
  background-color: #008000;
  flex: 1;
}
.c3_inner2 {
  flex: 1;
  background-color: #ff0000;
}
.content4 {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.c4_item {
  background-color: #ffc0cb;
}
.c4_item:nth-child(1),
.c4_item:nth-child(3) {
  background-color: #ffc0cb;
  flex: 1;
}
.c4_item:nth-child(2) {
  background-color: #ffc0cb;
  flex: 3;
}
