.container {
  display: flex;
  width: 800px;
  height: 500px;
  border: 1px solid #000;
  flex-direction: column;
}
.item {
  border: 1px solid #000;
}

.item1 {
  background-color: #ff0000;
  flex: 1;
}

.item2 {
  display: flex;
  flex: 3;
}
.item2_content {
  background-color: #ffff00;
  flex: 1;
}
.item2_content2 {
  display: flex;
  flex-direction: column;
  flex: 2;
}
.item2_cotnent_inner1 {
  background-color: #adff2f;
  flex: 3;
}
.item2_content_inner2 {
  background-color: #0000ff;
  flex: 1;
}
