div {
  border: 1px solid black;
  box-sizing: border-box;
  /* content + padding + border 합으로 width/height 지정 */
}

.item {
  width: 75px;
  height: 75px;
}

.item1 {
  background-color: red;
}
.item2 {
  background-color: orangered;
}
.item3 {
  background-color: orange;
}
.item4 {
  background-color: yellow;
}
.item5 {
  background-color: yellowgreen;
}
.item6 {
  background-color: green;
}
.item7 {
  background-color: lightblue;
}
.item8 {
  background-color: blue;
}
.item9 {
  background-color: violet;
}
.flex-container {
  /* 부모 요소 */
  display: flex;
  height: 800px;
  /* 
  display:flex
  -> 부모 요소에 주는 속성!
  item(자식태그)을 감싸는 요소(부모태그)의 형식을
  flexbox로 변경
  -> 내부요소인 item들이 자도응로 정렬되며, 
  레이아웃을 쉽게 조정할 수 있음

  자동 정렬 -> 가로/세로 정렬을 쉽게 조정 가능
  공간 배분 -> 요소 간 간격을 자동으로 조정
  반응형 레이아웃 -> 화면 크기에 따라 유연하게 조정
  */

  /* flex-direction (부모 전용 속성) 
  -> 메인축의 방향과 시작위치를 지정하는 속성
  */
  /* 행 방향 (가로, 기본값) */
  /* flex-direction: row; */

  /* 행 방향 + 순서 반대 (뒤집어짐) */
  /* flex-direction: row-reverse;
   */

  /* 열 방향 (세로) */
  /* flex-direction: column; */

  /* 열 방향 (세로) + 순서 반대 */
  /* flex-direction: column-reverse; */

  /* flex-wrap (부모 전용 속성) 
  내부 item들을 포장하는 속성
  item들이 강제로 한줄에 배치되게 할 지,
  한줄을 벗어나 여러줄로 배치할 것인지 지정

  */
  /* item을 한줄로 배치(기본값) */
  /* flex-wrap: nowrap; */

  /* item을 여러줄로 배치 */
  /* flex-wrap: wrap; */
  /* align-content: normal이 기본값 */
  /* align-content: flex-start; */
  /* 떨어졌을 때 다음에 바로 나올 수 있도록 정렬 */

  /* item을 여러줄로 배치 + 순서 반대로 */
  /* flex-wrap: wrap-reverse; */

  /* justify-content (부모 전용 속성) 
  -> 메인축 방향으로 item의 정렬 방법을 조정함
  */

  /* 메인축 방향으로 앞에서부터 정렬(기본값) */
  /* justify-content: flex-start; */

  /* 메인축 방향으로 뒤에 붙어서 정렬 */
  /* justify-content: flex-end;
   */

  /* 메인축 방향으로 가운데 정렬 */
  /* justify-content: center; */

  /* 양끝쪽을 붙인 상태에서 item들의 간격을
  일정하게 정렬 */
  /* justify-content: space-between; */

  /* 양끝은 조금, item 중간은 일정 간격으로 정렬 */
  /* justify-content: space-around; */

  /* item이 메인축 내에서 모두 동일한 간격을 가짐 */
  /* justify-content: space-evenly; */

  /* align-items (부모 전용 속성) 
  -> item들을 교차축 방향으로 정렬하는 방법을
  지정하는 속성
  */

  /* 교차축 앞에서부터 정렬(기본값) */
  /* align-items: flex-start; */

  /* 교차축 가운데 정렬 */
  /* align-items: center; */

  /* 교차축 끝에 붙어서 정렬 */
  /* align-items: flex-end; */

  /* flex-direction: column; */
  /* align-items: flex-end; */
}

#con {
  /* 부모 */
  width: 450px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#con div {
  /* 자식 */
  width: 80px;
  height: 80px;
  background-color: red;
}
/* (자식 요소 속성)
order : 기본값 0;
양수 ~ 음수 설정 가능
값이 작은 요소가 먼저 배치되고,
큰 요소가 나중에 배치됨

*/

.order:nth-child(1) {
  order: 3;
}
.order:nth-child(2) {
  order: 4;
}
.order:nth-child(3) {
  order: 5;
}
