/* .container-1 {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: red;
} */
/* 
.first {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: yellow;
  left: 45px;
  top: 45px;
}
.second {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: green;
  left: 100px;
  top: 100px;
}
.third {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: grey;
  left: 150px;
  top: 150px;
} */

.container-1 {
  position: relative;
  width: 600px;
  height: 400px;
  border: 2px dashed red;
}
.first {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: yellow;
}
.second {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: green;
  left: 50px;
  top: 50px;
}
.third {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: brown;
  left: 100px;
  top: 100px;
}

.container-2 {
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  position: relative;
}

#center {
  width: 50px;
  height: 50px;
  background-color: pink;
  position: absolute;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  /* 능지처참... */
}

.fixed-area {
  width: 150px;
  background-color: yellow;
  color: white;
  position: fixed;
  right: 50px;
  bottom: 50px;
  text-align: center;
}
.fixed-area > a {
  text-decoration: none;
  color: black;
}
.fixed-area > a:visited {
  color: red;
}
