/* 일반 구조 선택자 */

/* 
:first-child
형제 관계의 요소 중 첫번 째 요소

#test1인 요소의 자식 요소 중
형제관계에서 첫번째 요소가 p 태그인가
=> 맞음.
첫번째 형제요소는 p태그여서 스타일 적용됨
*/

#test1 > p:first-child {
  background-color: red;
  color: white;
}

/* 
:last-child
형제관계의 요소 중 마지막 요소

#test1 요소의 자식 요소 중
형제관계 중 마지막 요소가 p태그인가?
=> 아님. 마지막 요소는 pre 태그여서
스타일 적용 안됨
*/
#test1 > p:last-child {
  background-color: orange;
}

/* 
:nth-child(수열)
형제관계 요소 중 지정된 수열번째 요소를
모두 선택
- 순서 따질때 1부터 시작
*/

#test1 > p:nth-child(2) {
  background-color: yellow;
}

#test1 > p:nth-child(4) {
  background-color: green;
}
/* 홀수 번 째 형제 요소 선택 */
#test1 > p:nth-child(2n - 1) {
  font-weight: bold;
  font-size: 30px;
}
/* 짝수 번째 형제 요소 선택 */
#test1 > p:nth-child(2n) {
  border: 3px solid black;
}

/* 
:nth-last-child(수열)

*/

#test1 > p:nth-last-child(2) {
  color: hotpink;
}

/* 형태 구조 선택자 */

/* 
:first-of-type
같이 선택된 형제들 중에서 첫번째 요소

*/

/* p태그 중에서 첫번째 요소 선택 */
#test2 > p:first-of-type {
  background-color: orange;
}

/* 
:last-of-type
같이 선택된 형제들 중에서 마지막 요소
*/

/* p태그 중에서 마지막 요소를 선택 */
#test2 > p:last-of-type {
  background-color: skyblue;
}

/* 
nth-of-type(수열)
같이 선택된 형제들 중에서
수열번째 모든 요소 선택
*/

#test2 > p:nth-of-type(2n-1) {
  font-size: 30px;
}

/* 
nth-last-of-type
: 같이 선택된 형제들 중에서
뒤에서 수열번째 모든 요소 선택
*/
#test2 > p:nth-last-of-type(2n) {
  background-color: red;
}

/* 부정 선택자 */

/* 
#test3 요소의 자식 li 요수 중
3의 배수를 제외한 요소만 선택하여
배경색 aqua 설정
*/

#test3 > li:not(:nth-of-type(3n)) {
  background-color: aqua;
}
