* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  width: 1140px;
  margin: auto;
}

header {
  height: 200px;
  display: flex;
}

header > section:nth-of-type(1),
header > section:nth-of-type(3) {
  flex-basis: 15%;
}

header > section:nth-of-type(2) {
  flex-basis: 70%;
}

#home-logo {
  width: 120px;
}

header > section:nth-of-type(1),
header > section:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-area {
  width: 500px;
}

.search-area fieldset {
  border: 2px solid #455ba8;
  border-radius: 5px;
  padding: 2px;

  display: flex;
}

#query {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border: 0; /* none */
  outline: none;
  /* outline : input태그에
  포커싱 되었을 때 나타나는 바깥선*/
  flex-basis: 92%;
}

#search-btn {
  flex-basis: 8%;
  cursor: pointer;
  font-size: 20px;
  border: 0;
  background-color: transparent;
  /* transparent 배경색 투명*/
  color: #455ba8;
}

nav {
  height: 50px;
  border-bottom: 2px solid black;

  position: sticky;
  /* sticky: 특정 스크롤 위치에 도달했을 때 
    요소가 고정되는 효과를 주는데 사용함. 
    top, bottom, left, right 속성이 필수로
    같이 작성되어야 함.
    -> 임계점 도달 시 어느 위치에 부착할지
    정해야하기 때문
  */
  top: 0;
  background-color: white;
}

nav > ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}

nav li {
  flex-basis: 150px;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: black;
  display: block;
  height: 100%;
  text-align: center;
  line-height: 50px;

  border-radius: 5px;
  transition-duration: 0.2s;
}

nav a:hover {
  background-color: #455ba8;
  color: white;
}

.content {
  display: flex;
}

.content-1 {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.content-2 {
  flex-basis: 30%;
}

.content-item {
  width: 90%;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 10px;
}

.content-item > div {
  width: 100%;
  height: 200px;
}

.content-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*
  이미지가 부모태그(div)에 맞춰지면서
  비율을 유지하고, 넘치는 부분은 잘림.
  이미지가 자동으로 가운데 정렬됨.
  */
}

.content-item a {
  text-decoration: none;
  color: black;
}

.content-item p {
  display: -webkit-box;
  /* 웹킷 전용 플렉스 박스로 형태를 출력하겠다 
== 줄 수 제한 기능을 위한 준비
*/
  -webkit-line-clamp: 3;
  /* 텍스트를 최대 3줄 까지만 출력 */

  -webkit-box-orient: vertical;
  /* 텍스트 방향을 세로 방향으로 줄 세우기 */

  overflow: hidden;
  /* 3줄 이후의 텍스트는 화면에서 보이지 않게 숨기기*/
}

form[name="login-form"] {
  height: 130px;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
}

#id-pw-area {
  flex-basis: 70%;

  display: flex;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
}

#id-pw-area > section:nth-child(1) {
  flex-basis: 75%;

  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}

#id-pw-area > section:last-child {
  flex-basis: 25%;
}
#id-pw-area input {
  flex-basis: 50%;
  border: none;
  outline: none;
  /* 포커싱 됐을 때 생기는 선 */
  padding: 5px;
}
#id-pw-area input:first-child {
  border-bottom: 1px solid #ddd;
}
#id-pw-area button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
#id-pw-area button:hover {
  background-color: #455ba8;
  color: white;
}
#id-pw-area input:focus {
  /* input에 focus 됐을 때 */
  border: 2px solid #455ba8;
}

form[name="login-form"] > label {
  flex-basis: 30%;
  margin-top: 10px;
  font-size: 14px;
}
#signup-find-area {
  margin-left: 10px;
}
#signup-find-area > a {
  color: black;
  font-size: 14px;
  text-decoration: none;
}

#signup-find-area > span {
  padding: 0 10px;
}

#footer {
  height: 200px;
  background-color: #a3add342;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer > p {
  font-weight: bold;
}
#footer > section > * {
  font-size: 14px;
}
#footer a {
  text-decoration: none;
  color: black;
}
#footer span {
  padding: 0 10px;
}
/* 
미디어 쿼리 (Media Query)

@media
미디어쿼리를 선언하는 키워드로,
특정 조건(화면 크기)에 따라 CSS 스타일을
적용할 때 사용

all
미디어 유형을 나타내는 부분.
-> 모든 미디어 유형에 적용된다.
생략가능, 보통 screen을 많이 사용함

(max-width: 767px) : 반응형 모바일 기준
기기의 화면 너비가 767px 이하일 때
해당 스타일을 적용함.
*/

/* 모바일 : 화면너비가 767px 이하일 때 적용 */
@media all and (max-width: 767px) {
  main {
    width: 100vw;
    /* vw : viewport width 약자
      현재 뷰포트의 100%만큼 너비 차지
    */
  }
  header {
    display: none;
  }
  nav {
    width: 100%;
    border-bottom: none;
    height: auto;
    /* auto : nav 태그 안쪽에 자식태그들의 크기만큼 늘어나게 함 */
  }
  nav ul {
    flex-direction: column;
  }
  nav li {
    flex-basis: auto;
    /* auto : nav 태그 안쪽에 자식태그들의 크기만큼 늘어나게 함 
     => 즉, 기본 content 값만큼만 차지하라는 의미*/
    border-bottom: 1px solid #ddd;
  }
  .content {
    flex-direction: column;
  }
  .content-1 {
    align-items: center;
  }
  .content-2 {
    padding: 20px;
  }
  footer p,
  footer > section > * {
    font-size: 12px;
  }
  /* 태블릿 : 768 ~ 1023px 범위 */
  @media screen and (min-width: 768) and (max-width: 1023px) {
  }
  /* PC : 너비가 1024px 이상일 때 */
  @media (min-width: 1024px) {
  }
}
