.cls-test {
  width: 400px;
  height: 150px;
  border: 1px solid black;
}

#name-div {
  width: 300px;
  height: 100px;
  border: 1px solid black;
}

[target-div="css-div"] {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

[target-div="css-div"] > div {
  height: 50%;
}

[target-div="css-div"] > div:first-child {
  background-color: pink;
}

[target-div="css-div"] > div:last-child {
  background-color: yellow;
}

.chatting {
  width: 500px;
  display: flex;
  flex-direction: column;
}
#chatting-bg {
  background-color: #bacee0;
  width: 100%;
}

#chatting-bg > p {
  text-align: right;
  margin-right: 20px;
}

#user-input {
  width: 90%;
}
#chatting-input {
  display: flex;
}
#chatting-input > input {
  flex-basis: 90%;
  height: 50px;
}
#chatting-input > button {
  flex-basis: 10%;
}
#chatting-input > button {
  font-size: 10px;
}
#chatting-bg > p > span {
  display: inline-block;
  background-color: #fee500;
  padding: 10px;
  border-radius: 5px;
}
#chatting-bg {
  width: 100%;
  height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}
