.cls-test {
  width: 400px;
  height: 150px;
  border: 1px solid black;
}

#name-div {
  width: 300px;
  height: 100px;
  border: 1px solid black;
}

[target-div="css-div"] {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

[target-div="css-div"] > div {
  height: 50%;
}

[target-div="css-div"] > div:first-child {
  background-color: pink;
}

[target-div="css-div"] > div:last-child {
  background-color: yellow;
}
