#test2 {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-color: green;
}

.container3 {
  width: 200px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

#box3 {
  box-sizing: border-box;
  height: 200px;
  border: 1px solid black;

  transition-duration: 0.5s;
}

.container3 * {
  margin-bottom: 5px;
}
