* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  height: 300px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: auto;
}

.box {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: palegreen;
}

.box > input {
  width: 100%;
}
